@import "src/styles/variables/variables";

.ocr-container {
    .live-interface-core {
        background-color: #FFFF;
        border-radius: 4px;
        padding: 3rem;
    }
    .config-panel {
        display: block;
        font-weight: $font-weight-bold;
    }
}
