<div class="col-12" id="target-scroller">
    <app-sabi-breadcrumbs></app-sabi-breadcrumbs>
    <h2>Optical Character Recognition ( OCR )</h2>
    <p>Optical Character Recognition ( OCR )
        Translation is used to image optical processing to extracting a image to text.
    </p>
</div>
<div class="col-12 ocr-container">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true" *ngIf="isAlertMessage"></p-messages>
    <div class="grid live-interface-core mt-4">
        <div class="col-7 pr-6">
            <div class="sabi-cropper-uploader"
                 appDragDrop
                 (click)="onTriggerInput()"
                 (fileDropped)="onFileDropped($event)"
                 *ngIf="!showCropper"
            >
                <input type="file"
                       [accept]="accept"
                       [name]="inputName +'-'+ inputIndex"
                       hidden
                       (change)="fileChangeEvent($event)"
                />
                <div class="label-file">
                    <h2>Upload KTP file here</h2>
                    <img class="ilustration-uploader" [src]="(imgPath + 'general/unggah.svg') " alt="icon-upload"/>
                </div>
            </div>
            <div class="grid container-cropper">
                <div [ngClass]="croppedImage.length > 0 ? 'sabi-preview-cropper block' : 'hidden'">
                    <img [src]="croppedImage" alt="cropped image"/>
                </div>
            </div>
            <div class="panel-labeling-info" appDragDrop>
                <p class="sub-information">Drag and drop a KTP or select from your computer</p>
            </div>
            <div class="cta-remove-files" *ngIf="showCropper">
                <span class="badge-rounded"
                    (click)="onRemovedFiles()"
                >
                    <svg fill="none" height="12" viewBox="0 0 9 8" width="12" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.912 3.984L8.144 8H6.576L4.144 4.96L1.728 8H0.144L3.376 3.984L0.336 0.208H1.904L4.144 3.04L6.384 0.208H7.968L4.912 3.984Z"
                                fill="white"
                        />
                    </svg>
                </span>
            </div>
            <div class="config-panel mt-3 flex align-items-center justify-content-start">
                Show Debug &nbsp; <p-selectButton [options]="stateSwitch" [(ngModel)]="valueSwitch" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
        </div>
        <div class="col-5">
            <h5 class="mb-5">Extraction Data Kartu Tanda Penduduk ( KTP )</h5>
            <div class="grid mt-3">
                <div class="col-6">
                    <div class="panel-extracted-data">
                        <div class="card">
                            <div class="field">
                                <label for="nik">NIK</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.nik"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="nik"
                                           pInputText
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="name">Nama</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.name"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="name"
                                           pInputText
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="birth-place">Tempat Lahir</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.birth_place"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="birth-place"
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="birth-date">Tanggal Lahir</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.birth_date"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="birth-date"
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="gender">Jenis Kelamin</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.gender"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="gender"
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="blood_type">Golongan Darah</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.blood_type"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="blood_type"
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="village">Kelurahan / Desa</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.village"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="village"
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                            <div class="field">
                                <label for="subdistrict">Kecamatan</label>
                                <ng-container *ngIf="!isLoading; else isHaveLoading">
                                    <input [(ngModel)]="identityModel.subdistrict"
                                           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                           id="subdistrict"
                                           type="text"
                                    />
                                </ng-container>
                                <ng-template #isHaveLoading>
                                    <p-skeleton width="75%"></p-skeleton>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field">
                        <label for="religion">Agama</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.religion"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="religion"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                    <div class="field">
                        <label for="marital status">Status Perkawinan</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.martial_status"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="marital status"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                    <div class="field">
                        <label for="work">Pekerjaan</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.work"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="work"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                    <div class="field">
                        <label for="citizenship">Kewarganegaraan</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.citizenship"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="citizenship"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                    <div class="field">
                        <label for="valid-until">Berlaku Hingga</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.valid_until"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="valid-until"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                    <div class="field">
                        <label for="rw">RW</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.rw"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="RW"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                    <div class="field">
                        <label for="rt">RT</label>
                        <ng-container *ngIf="!isLoading; else isHaveLoading">
                            <input [(ngModel)]="identityModel.rt"
                                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                   id="rt"
                                   type="text"
                            />
                        </ng-container>
                        <ng-template #isHaveLoading>
                            <p-skeleton width="75%"></p-skeleton>
                        </ng-template>
                    </div>
                </div>
                <p>When upload image it will create preview and converting by service OCR to detect text in the
                    image.</p>
            </div>
        </div>
        <div class="flex col-12 mt-6 flex flex-row-reverse flex-wrap">
            <button (click)="onConvertFile()" [disabled]="isDisableSubmit" class="btn-primary" label="Converting" pButton pRipple
                    type="button"></button>
        </div>
        <div class="container-konva" [ngClass]="resultText.length > 0 && valueSwitch !== 'off' ? 'flex' : 'hidden'">
            <ko-stage #stage [config]="configStage">
                <ko-layer #layer>
                    <ko-image [config]="configImage"></ko-image>
                    <ko-rect [config]="configRect"></ko-rect>
                </ko-layer>
            </ko-stage>
        </div>
        <div class="debugging-result col-12 flex">
            <div [ngClass]="resultText && valueSwitch !== 'off' ? 'block' : 'hidden'">
                <div class="mt-6 p-3 bg-black-alpha-10 mr-0 ml-0">
                    <h5>Log Result ( RAW DATA ) : </h5>
                    <p>{{resultText}}</p>
               </div>
            </div>
        </div>
    </div>

    <p-dialog header="Preview Images"
          [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '55vw' }"
          [draggable]="false"
          [resizable]="false"
          [maximizable]="true"
    >
        <div class="flex mb-2 mt-2">
            <p-button label="Zoom -"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="zoomOut()"
            >
            </p-button>
            <p-button label="Zoom +"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="zoomIn()"
            >
            </p-button>
            <p-button label="{{ isMaintainAspectRatio ? 'Free Crop ( Disabled )' : 'Free Crop ( Enable )' }}"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="dragAspectRatio()"
            >
            </p-button>
            <p-button label="{{ containWithinAspectRatio ? 'Contain Within Aspect Ratio' : 'Fill Aspect Ratio' }}"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="toggleContainWithinAspectRatio()"
            >
            </p-button>
            <p-dropdown
                    (onChange)="changeTheRatios($event)"
                    [options]="aspectRatio"
                    [(ngModel)]="selectedRatio"
                    styleClass="p-dropdown-sm sabi-dropdown"
                    optionLabel="label"
                    optionValue="scale"
                    [disabled]="!isMaintainAspectRatio"
            >
            </p-dropdown>
        </div>
        <div class="flex mb-2 mt-2">
            <p-button label="Flip Vertical"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="flipHoriziontal()"
            >
            </p-button>
            <p-button
                    label="Flip Horiziontal"
                    styleClass="p-button-outlined p-button-sm mr-2"
                    (click)="flipVertical()"
            >
            </p-button>
            <p-button label="Rotate Left"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="rotateLeft()"
            >
            </p-button>
            <p-button label="Rotate Right"
                      styleClass="p-button-outlined p-button-sm mr-2"
                      (click)="rotateRight()"
            >
            </p-button>
        </div>
        <image-cropper
                [autoCrop]="true"
                [canvasRotation]="canvasRotation"
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="isMaintainAspectRatio"
                [containWithinAspectRatio]="containWithinAspectRatio"
                [aspectRatio]="isRatioWidth !== undefined ? (isRatioWidth / isRatioHeight) : isDefaultRatio"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
                [roundCropper]="false"
                [imageQuality]="100"
                [transform]="transform"
                [alignImage]="'left'"
        >
        </image-cropper>

        <div class="modal-action flex justify-content-end mt-5">
            <p-button label="Cropping" styleClass="mr-2" (onClick)="submitCropping()"></p-button>
        </div>
    </p-dialog>
</div>
