@import "../../../../../styles/variables/variables";

.sabi-fileuploader {
  width: 100% !important;
  height: 100% !important;
  background: $sc-white;
  color: $sc-dark-grey;
  border: 1px dashed rgba(196, 196, 196, 0.88) !important;
  border-radius: 4px;
  overflow-x: visible !important;
  justify-content: center;
  cursor: pointer;

  h2.heading-fileuploader {
    margin-top: 9px;
    font-size: $font-size-quatenary;
    font-style: normal;
    font-weight: $font-weight-400;
    line-height: 16px;
    text-align: center;
    color: rgba(30, 38, 62, 0.8);
  }

  .label-file {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    animation: fadeInAnimation ease-in-out 1.0s;
  }

  &.error-dropbox {
    border: 2px dashed #f44336 !important;
  }

  .preview-box__uploader {
    display: flex;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    padding: 3px;
    z-index: 100;
    cursor: pointer;
    animation: fadeInAnimation ease-in-out 0.5s;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.cta-remove-files {
  display: flex;

  .badge-rounded {
    position: relative;
    z-index: 100;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 0 0 1px;
    border-radius: 20px;
    color: $sc-white;
    background-color: #1E263E !important;
    font-size: 14px;
    top: -105px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

