button {
  margin-right: .5rem;
  border-radius: 4px;
}

button.btn-primary, button.btn-primary:hover, button.btn-primary:active {
  background-color: #2C76CB;
}

button.btn-primary-outlined, button.btn-primary-outlined.p-button.p-button-outlined:enabled:active {
  background-color: #FFFFFF;
  border: solid #2C76CB;
  color: #2C76CB;
}

button.btn-primary-outlined.p-button.p-button-outlined:enabled:hover {
  background-color: rgba(59, 130, 246, 0.04);
  border: solid #2C76CB;
  color: #2C76CB;
}

button.btn-primary-text, button.btn-primary-text.p-button.p-button-text:enabled:active {
  color: #2C76CB;
}

button.btn-primary-text.p-button.p-button-text:hover {
  background-color: rgba(59, 130, 246, 0.04);
  color: #2C76CB;
}


button.btn-destructive-text, button.btn-destructive-text.p-button.p-button-text:enabled:active {
  color: #F43F5E;
}

button.btn-destructive-text.p-button.p-button-text:enabled:hover {
  background-color: rgba(59, 130, 246, 0.04);
  color: #F43F5E;
}

button {

  &.btn-destructive {
    background-color: #F43F5E;
    border: solid #F43F5E;
    &:hover {
      background-color: #F43F5E;
      border: solid #F43F5E;
    }
    &:active {
      background-color: #F43F5E;
      border: solid #F43F5E;
    }
  }

  &.btn-destructive-outlined {
    background-color: #FFFFFF;
    border: solid #F43F5E;
    color: #F43F5E;
    &.p-button.p-button-outlined {
      &:active {
        background-color: #FFFFFF;
        border: solid #F43F5E;
        color: #F43F5E;
      }
      &:hover {
        background-color: rgba(59, 130, 246, 0.04);
        border: solid #F43F5E;
        color: #F43F5E;
      }
    }
  }
}