<div class="col-12 col-lg-12 col-md-12">
  <h2>input</h2>
  <p>Default Input</p>
</div>
<div class="mt-5">
  <p-card class="sabi-card sabi-form">
    <form [formGroup]="formGroup">
      <div class="p-fluid grid">
        <div class="field col-4">
          <span class="p-float-label sabi-float-label">
              <input id="name"
                     type="text"
                     aria-describedby="name-help"
                     pInputText
                     formControlName="name"
                     class="sabi-textfield"
              >
              <label for="name">Name</label>
          </span>
        </div>
        <div class="field col-4">
           <span class="p-float-label sabi-float-label">
               <input id="phone"
                      type="text"
                      (keydown)="numberOnly($event)"
                      aria-describedby="phone-help"
                      pInputText
                      formControlName="phone"
                      class="sabi-textfield"
               >
              <label for="phone">Phone</label>
          </span>
        </div>
        <div class="field col-4">
          <span class="p-float-label sabi-float-label">
                <input id="email"
                       type="text"
                       aria-describedby="name-help"
                       pInputText
                       formControlName="email"
                       class="sabi-textfield"
                >
              <label for="email">Email</label>
          </span>
        </div>
        <div class="field col-4">
            <span class="p-float-label sabi-float-label">
                <input id="username"
                       type="text"
                       aria-describedby="name-help"
                       pInputText
                       formControlName="username"
                       class="sabi-textfield"
                >
              <label for="username">Username</label>
          </span>
        </div>
        <div class="field col-4">
          <label for="address" class="block">Address</label>
          <input
                  id="address"
                  type="text"
                  aria-describedby="address-help"
                  pInputText formControlName="address"
          >
        </div>
        <div class="field col-4">
          <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" (onSelect)="onUpload($event)"></p-fileUpload>
        </div>
        <div class="col-3">
          <p-button type="button"
                    (click)="submitForm()"
                    label="Submit"
                    styleClass="sabi-btn btn-primary"
          >
          </p-button>
        </div>
      </div>
    </form>

<!--    <h5>Basic</h5>-->
<!--    <input type="text" pInputText [(ngModel)]="username">-->
<!--    <span class="ml-2">{{value1}}</span>-->

<!--    <h5>Float Label</h5>-->
<!--    <span class="p-float-label">-->
<!--            <input id="float-input" type="text" pInputText [(ngModel)]="value2">-->
<!--            <label for="float-input">Username</label>-->
<!--        </span>-->

<!--    <h5>Left Icon</h5>-->
<!--    <span class="p-input-icon-left">-->
<!--            <i class="pi pi-search"></i>-->
<!--            <input type="text" pInputText placeholder="Search" [(ngModel)]="value3" />-->
<!--        </span>-->

<!--    <h5>Right Icon</h5>-->
<!--    <span class="p-input-icon-right">-->
<!--            <i class="pi pi-spin pi-spinner"></i>-->
<!--            <input type="text" pInputText />-->
<!--        </span>-->

<!--    <h5>Help Text</h5>-->
<!--    <div class="field">-->
<!--    </div>-->

<!--    <h5>Invalid</h5>-->
<!--    <div class="field">-->
<!--      <label for="username2" class="block">Username</label>-->
<!--      <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText />-->
<!--      <small id="username2-help" class="p-error block">Username is not available.</small>-->
<!--    </div>-->

<!--    <h5>Invalid with Float Label</h5>-->
<!--    <span class="p-float-label">-->
<!--            <input id="float-input-invalid" type="text" pInputText [(ngModel)]="value6" class="ng-invalid ng-dirty">-->
<!--            <label for="float-input-invalid">Username</label>-->
<!--        </span>-->

<!--    <h5>Disabled</h5>-->
<!--    <input id="disabled-input" type="text" pInputText [disabled]="disabled" [(ngModel)]="value5" />-->

<!--    <h5>Sizes</h5>-->
<!--    <div class="sizes">-->
<!--      <input type="text" class="p-inputtext-sm mr-2" placeholder="Small" pInputText />-->
<!--      <input type="text" class="mr-2" placeholder="Normal" pInputText />-->
<!--      <input type="text" class="p-inputtext-lg mr-2" placeholder="Large"  pInputText />-->
<!--    </div>-->

<!--    <h5 class="mt-4">Input with masking</h5>-->

<!--    <div class="p-fluid grid">-->
<!--      <div class="field col-12 md:col-6">-->
<!--        <label>KTP unmask</label>-->
<!--        <p-inputMask mask="9999 9999 9999 9999" [(ngModel)]="valueMask1" placeholder="0000 0000 0000 0000" [unmask]="true"></p-inputMask>-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        <label>NPWP unmask</label>-->
<!--        <p-inputMask mask="99.999.999.9-999.999" [(ngModel)]="valueMask2" placeholder="00.000.000.0-000.000" [unmask]="true"></p-inputMask>-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        KTP with unmask: {{valueMask1}}-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        NPWP with unmask: {{valueMask2}}-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        <label>KTP</label>-->
<!--        <p-inputMask mask="9999 9999 9999 9999" [(ngModel)]="valueMask3" placeholder="0000 0000 0000 0000"></p-inputMask>-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        <label>NPWP</label>-->
<!--        <p-inputMask mask="99.999.999.9-999.999" [(ngModel)]="valueMask4" placeholder="00.000.000.0-000.000"></p-inputMask>-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        KTP: {{valueMask3}}-->
<!--      </div>-->
<!--      <div class="field col-12 md:col-6">-->
<!--        NPWP: {{valueMask4}}-->
<!--      </div>-->
<!--    </div>-->

  </p-card>
</div>
