@import "src/styles/variables/variables";

.sabi-buttons-spinner {
  position: relative;
  font-size: $font-size-quatenary;

  .sabi-buttons-spinner__content {
    display: inline-flex;
  }

  .sabi-buttons-spinner__content .mat-progress-spinner {
    display: flex;
    top: 1px;
    left: 2px;

    & circle, .mat-spinner circle {
      stroke: $sc-white !important;
    }
  }

}

