<div class="container-floating">
    <div class="btn-floating-menu">
        <span class="control-action">
          <p class="label-left">{{ title }}</p>
          <button
              *ngIf="size == 'large'"
              [disabled]=disabled
              [ngClass]="disabled ? 'disabled-cta' : ''"
              class="d-flex btn btn--primary btn-large btn-font-size--14"
          >
              {{ !loader ? labelRight : '' }}
              <mat-spinner
                  [diameter]="19"
                  [ngClass]="loader ? '' : 'd-none'"
                  class="sabi-spinner spinner--floating-cta mr-2"
              >
              </mat-spinner>
          </button>
        </span>
    </div>
</div>
