<section class="content-unread-notif">
    Unread Notification list here
<!--    <div *ngFor="let notification of unreadNotifList; let i = index">-->
<!--        <a class="font-style-semibold" (click)="onClickNotif(notification)">-->
<!--            <div class="panel notif-menu-list d-flex w-100">-->
<!--                <div>-->
<!--                    <img class="mt-1 mr-1 ml-1 img-round" width="40" height="40"-->
<!--                         [src]="notification.logo || 'assets/backoffice/icon/placeholder/placeholder.png'"-->
<!--                         alt="notif-logo">-->
<!--                </div>-->
<!--                <div class="my-1 d-flex flex-column">-->
<!--                    <div class="mb-0 font-weight-light size-12">{{notification.pushNotificationTitle}} | {{notification.updatedDate | dateIndoReformatted}}</div>-->
<!--                    <div class="mt-0 font-weight-light size-12" *ngIf="!notification.pushNotificationContent.includes('Logo')">{{notification.pushNotificationContent}}</div>-->
<!--                    <div class="mt-0 font-weight size-14" *ngIf="notification.pushNotificationContent.includes('Logo')">{{notification.name}}</div>-->
<!--                    <div class="mt-0 font-weight-light size-12" *ngIf="notification.pushNotificationContent.includes('Logo')">{{sanitaziEmailSender(notification.email)}}</div>-->
<!--                    <div class="mt-0 font-weight-light size-12" *ngIf="notification.pushNotificationContent.includes('Logo')">{{notification.location}}</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
</section>
