/*
    ====================
        Background
    ====================
*/

@import "colors";

$bg-primary: $primary-color-500;
$bg-secondary: $primary-color-700;
$bg-positive: $warning-color-500;
$bg-negative: $secondary-color-500;
$bg-neutral: $white;
