/*
    ====================
        Old Base Colors
    ====================
    - Element Prefix :
      mc - Main Colors
      sc - Secondary Colors
*/

$mc-apple-green: #8CC63E;
$mc-dark-blue: #194175;

$sc-conifer-green: #A0D061;
$sc-brown-rust: #AD6436;
$sc-light-blue: #E5E8ED;
$sc-saltpan-green: #EFF4E8;
$sc-khasmir-blue: #42638E;
$sc-claret-red: #911F43;
$sc-light-grey: #131010;
$sc-dark-grey: #B2B2B2;
$sc-white: #ffffff;
$sc-black: #333333;
$sc-dark-black: #000;
$sc-light-black: #1E263E;
$sc-claret-red-light: #fc403629;
$sc-light-grey-soften: #F5F7FA;
$sc-red-peach: #f44336;

/*
    ================
        Colors
    ================
*/

$color-primary: $mc-apple-green;
$color-secondary: $sc-khasmir-blue;
$color-positive: $sc-conifer-green;
$color-negative: $sc-saltpan-green;


/*
    ====================
        Base Colors
    ====================


*/

//main color neutral
$neutral-color-50: #F8FAFC;
$neutral-color-100: #F1F5F9;
$neutral-color-200: #E2E8F0;
$neutral-color-300: #CBD5E1;
$neutral-color-400: #94A3B8;
$neutral-color-900: #0F172A;

//primary color
$primary-color-50: #E3F4FF;
$primary-color-500: #2C76CB;
$primary-color-600: #1D5BAC;
$primary-color-700: #194A8B;
$primary-color-900: #1A3760;

//secondary color
$secondary-color-50: #EAF5DC;
$secondary-color-500: #8CC63E;

//warning color
$warning-color-50: #FEF5E7;
$warning-color-100: #FDECCE;
$warning-color-500: #F59E0B;

//danger color
$danger-color-50: #FEECEF;
$danger-color-100: #FCC5CF;
$danger-color-500: #F43F5E;
$danger-color-600: #DC3955;
$danger-color-700: #C3324B;

$white: #FFFFFF;
$black: #000000;
