@import '../../variables/variables';
@import '../../mixins/colors';
@import '../../mixins/buttons';

.btn {
  height: 40px;
  font-size: $font-size-quatenary;
  align-items: center;

  &:hover {
    box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
  }

  &:focus {
    box-shadow: unset !important;
  }
}

.btn--primary {
  @include button-variant($bg-primary, $sc-white, pointer);
  min-width: 80px;

  &:hover {
    box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
  }

  &:focus {
    outline: 0 !important;
  }
}

.btn--secondary {
  @include button-variant($bg-secondary, $sc-white, pointer);

  &:hover {
    color: darken($bg-secondary, 50%);
  }
}

.btn--default {
  @include button-variant($bg-neutral, $sc-white, pointer);
  border-color: #E7E7E7 !important;
  border-width: 1px !important;
  min-width: 80px;
  color: $text-primary !important;
}

.btn--outline {
  @include button-variant($bg-positive, $text-primary, pointer);
  opacity: 70%;

  &:hover {
    color: $text-primary;
  }
}

.btn--info {
  @include button-variant($bg-neutral, $sc-white, pointer);
  border-color: $sc-khasmir-blue !important;
  border-width: 1px !important;
  min-width: 80px;
  color: $text-primary !important;
}

.btn--small-link {
  height: 26px !important;
  cursor: pointer;

  &:hover {
    box-shadow: unset !important;
  }

  &:focus {
    box-shadow: unset !important;
  }
}

.btn--small {
  height: 30px;

  &:hover {
    box-shadow: unset !important;
  }

  &:focus {
    box-shadow: unset !important;
  }
}

.btn-outline-secondary {
  border-color: #E7E7E7 !important;
  border-width: 2px !important;
  height: 40px !important;
  opacity: 70%;
  color: $text-primary !important;
  background-color: $sc-white;

  &:hover {
    background-color: transparent !important;
    color: $text-primary !important;
  }

  &:focus {
    background-color: transparent !important;
    color: $text-primary !important;
    box-shadow: unset !important;
  }
}

.btn-font-size--12 {
  font-size: $font-size-quatenary !important;
}

.btn-font-size--14 {
  font-size: $font-size-tertiary !important;
}

.btn-height--26 {
  height: 26px !important;
}
