@import "../../../../../styles/variables/variables";

.toast-error {
  @extend .toast-element;
  border-left: 5px solid #FF5D54;

  .icon-toast {
    background: url('/assets/backoffice/icon/general/toast-danger.svg') no-repeat;
    width: 22px;
    height: 29px;
    display: inline-block;
    position: relative;
    top: 0;
    z-index: 10;
    margin-right: 10px;
  }
}

::ng-deep .toast-success {
  @extend .toast-element;
  border-left: 5px solid $mc-apple-green;

  .icon-toast {
    background: url('/assets/backoffice/icon/general/toast-primary.svg') no-repeat !important;
    width: 22px;
    height: 29px;
    display: inline-block;
    position: relative;
    top: 4px;
    z-index: 10;
    margin-right: 10px;
  }
}

.toast-element {
  background-color: $sc-white;
  width: auto;
  min-width: 313px;
  height: 64px;
  color: $sc-light-black;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.02);
  padding: 16px 16px 16px 9px;
  position: fixed;
  z-index: 15;
  left: 41%;
  top: 30px;
  transition: top 0.4s, opacity 0.4s;
}

.sabi-toast {
  .cross-menu {
    background: url('/assets/backoffice/icon/general/cross.svg') no-repeat;
    float: right;
    width: 22px;
    height: 23px;
    position: relative;
    top: -7px;
    right: -15px;
    cursor: pointer;
  }

  .content-toast {
    display: flex;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 6px 0;
    }
  }
}
