/*
  ==================
      ICONS SABI
  ==================
*/

$icons-general: (
        accept: "accept.svg",
        search: "search.svg",
        pencil: "pencil.svg",
        paper-line: "paper-line.svg",
        calendar: "calendar.svg",
        cloud: "cloud.svg",
        chainlink: "chainlink.svg",
        trash: "trash.svg",
        toast-info: "toast-info.svg",
        toast-warn: "toast-warn.svg",
        toast-success: "toast-success.svg",
        toast-danger: "toast-danger.svg",
);

$icons-sidebar: (
        home: "home.svg",
        dot-list: "dot-list.svg",
        union: "union.svg",
);

@each $name, $glyph in $icons-general {
    .sbi-icon {
        &.#{$name} {
            background-image: url('/assets/backoffice/icon/general/' + $name + '.svg');
            background-repeat: no-repeat;
        }
    }
}

@each $name, $glyph in $icons-sidebar {
    .sbi-icon {
        &.#{$name}-active {
            background-image: url('/assets/backoffice/icon/sidebar/' + $name + '/active/' + $name +'-active.svg');
            background-repeat: no-repeat;
        }
        &.#{$name}-disabled {
            background-image: url('/assets/backoffice/icon/sidebar/' + $name + '/disabled/' + $name +'-disabled.svg');
            background-repeat: no-repeat;
        }
    }
}
