@import 'variables/variables';

.sabi-textfield {
    &.p-inputtext, &.p-inputmask {
        padding-top: 10px;
        padding-bottom: 0;
        min-height: 54px;
    }
}

.sabi-float-label.p-float-label {
    input:focus ~ label {
        top: 1rem;
        font-size: 10px;
    }

    input.p-filled ~ label {
        top: 1rem;
        font-size: 10px;
    }
}

