@import 'variables/variables';

.sabi-table {

    .p-datatable .p-datatable-thead > tr > th {
        height: 56px;
        background-color: $bg-neutral-100;
        border-top: 1px solid $neutral-color-300;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        padding: 8px 15px;
    }

    .p-datatable .p-datatable-tfoot > tr > td {
        border: unset;
    }

    .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
        cursor: unset;
        background-color: #F9FAFC;
    }

    .p-datatable .p-datatable-header {
        background-color: transparent;
        border: unset;
        padding: 0 0 15px 0;
    }

    .p-paginator {
        background-color: unset;
        border: unset;
    }
}
