@import 'variables/variables';

.sabi-float-label {
    textarea.sabi-textarea {
        padding-top: 20px;

        &:focus {
            padding-top: 20px;
        }
    }

    textarea.sabi-textarea ~ label {
        top: 1.7rem !important;
    }

    textarea.sabi-textarea:focus ~ label {
        top: 1.1rem !important;
        font-size: 10px;
    }

    textarea.sabi-textarea.p-filled ~ label {
        top: 1rem !important;
        font-size: 10px;
    }
}
