@import "src/styles/variables/variables";

.sidebar-left-container {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  width: 240px;
  height: auto;
  overflow-y: scroll;
  background-color: $white;

  .brand-area {
    display: flex;
    padding: 0;
    margin-bottom: 30px;

    img {
      cursor: pointer;
      margin: 35.53px 0 0 24px;
    }
  }

  &.mat-list-base .mat-list-item {
    height: 50px;
    margin-bottom: 16px;
    padding-left: 8px;

    .mat-list-item:hover {
      border-radius: 6px;
      height: 24px;
      margin-right: 13px;
    }

    &.link-active {
      background: rgba(25, 65, 117, 0.1);
      margin-left: 20px;
      margin-right: 14px;
      border-radius: 5px;
      height: 25px;
    }

    &.mat-list-item-content {
      padding: 0 24px !important;
    }
  }

  .mat-tree-node {
    .mat-list-base, a {
      font-size: 14px !important;
    }
  }

  .icon-chevron {
    position: absolute;
    right: 15px;

    &.right {
      top: 19px;
    }
  }
}

.line-menus {
  display: flex;
  width: 100%;
  border-left: 2px solid #ddd;
}
